body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/bgi-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@font-face {
    font-family: title-font;
    src: url(font/title/04B_30__.TTF);
}

@font-face {
    font-family: buttons-font;
    src: url(font/buttons/Super\ Mario\ Bros.\ 2.ttf);
}


h1 {
    color: rgb(255, 222, 59);
    font-family: title-font;
    font-size: 48px;
    margin: 50px 0px;
}

#canva {
    display: grid;
    width: 10cm;
    height: 10cm;
    border: 1px solid black;
    margin-left: 16px;
    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
    /* cursor: url(images/pencil.png) 0 32, auto; */
}

#container {
    display: flex;
    flex-direction: row-reverse;
}

#buttons {
    display: flex;
    flex-direction: column;
    height: 9.2cm;
    gap: 18px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 16px;
    border: 3px solid black;
    border-radius: 8px;
    font-family: buttons-font;
    font-size: 12px;
}

button {
    padding: 8px 16px;
    font-family: buttons-font;
    font-size: 12px;
}

/* If you are a TOP student, this article was helpful to change the style of the input range: */
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */

/* Slider track - Common between browsers */
#gridSize {
    -webkit-appearance: none;
    background: rgb(0, 96, 255);
    direction: rtl;
    border-radius: 12px;
    height: 12px;
    padding: 0px;
    font: inherit;
    box-sizing: border-box;
    opacity: 0.8;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border: 2px solid black;
}

#gridSize:hover {
    opacity: 1;
}

/* Slider thumb - Mozilla */
#gridSize::-moz-range-thumb {
    width: 12px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    border-radius: 6px;
    background: rgb(255, 222, 59); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: 2px solid black;
}

/* Slider thumb - Chrome, Opera, Safari, Edge */
#gridSize::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 22px; /* Slider handle height */
    border-radius: 6px;
    background: rgb(255, 222, 59); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: 2px solid black;
  }