body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: rgb(0, 102, 255);
}

#canva {
    display: grid;
    /* grid-template-columns: repeat(24, 1fr); */
    /* grid-template-rows: repeat(16, 1fr); */
    width: 10cm;
    height: 10cm;
    border: 1px solid black;
    margin-left: 16px;
    background-color: white;
}

#container {
    display: flex;
    flex-direction: row-reverse;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

button {
    padding: 4px 12px;
    width: 80px;
}

#gridSize {
    -webkit-appearance: none;
    background: rgb(64, 64, 247);
    direction: rtl;
    border-radius: 12px;
    height: 12px;
}